<!--
  Generated template for the RecipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><ion-icon name="restaurant"></ion-icon> ChopChop: Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="searchResults.length === 0" class="recipe-warning" margin>No recipe found! :(</p>
  <ion-item *ngFor="let result of searchResults">
    {{ result.name }}
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar padding-left padding-right>
    <ion-buttons>
      <button (click)="prevPage()" ion-button icon-start>
        <ion-icon name="arrow-round-back"></ion-icon>
        <b>Set Budget & Time</b>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
