page-recipes {
  .recipe-warning {
    font-size: 5vw;
  }

  ion-card-content {
    p {
      display: inline-block;
    }

    .status-recipe {
      width: 60%;
    }

    .list-ingredients {
      width: 40%;
      position: absolute;
      margin-right: 45px;
      right: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
